:root {
  --main-font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
ol {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

textarea {
  resize: none;
}

.container {
  padding: 0 15px;
}

.is-hidden {
  visibility: hidden;
}

.is-open {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 9, 40, 0.7);
}

.feedback {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: white;
}

.bck-img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/Image.png), url(../../img/Shape_menu.png), url(../../img/Shape_1.png), url(../../img/Shape_2.svg), url(../../img/Shape_3_big.svg);
  background-repeat: no-repeat;
  background-position: right 850px top -160px, right -220px top -150px, right 300px top 370px, right 250px bottom 150px, right 670px top 100px;
  background-size: 750px 1000px, 450px 450px, 800px 571px, 75px 75px, 35px 35px, 50px 50px;
  z-index: -4;
}

.bck-vector {
  position: relative;
  display: block;
  top: 0px;
  right: 500px;
  width: 100%;
  height: 100%;
  z-index: -3;
}

.bck-man {
  position: absolute;
  display: block;
  top: 550px;
  width: 100%;
  height: 100vh;
  background-image: url(../../img/Man_inside.png);
  background-position: right 650px top 10px;
  background-repeat: no-repeat;
  background-size: 30%;
  object-fit: contain;
  vertical-align: baseline;
}

.section-style {
  display: flex;
  justify-content: flex-end;
}

.hero-position {
  margin-right: 20px;
  margin-top: 35px;
  margin-bottom: auto;
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.x-position {
  display: flex;
  margin-right: 150px;
  justify-content: flex-end;
}

.x-info {
  margin-left: 25px;
}

.info-position {
  text-transform: uppercase;
  font-family: Poppins;
  font-size: 100px;
  font-weight: 900;
  margin-top: 35px;
  margin-bottom: 25px;
  width: 839px;
}

.read-more {
  margin-top: 15px;
  width: 120px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color: #2372d5;
  text-transform: uppercase;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 10px;
  font-weight: 700;
}

.header-position {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
}

.nav-position {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 350px;
  margin-left: 55px;
}

.back-img {
  width: 100vh;
  height: 100vh;
  background-image: url(../../img/Man_inside.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0px top 0px;
}

.btn {
  background: none;
  border: none;
  margin-right: 40px;
  margin-left: 100px;
}

.link-position {
  text-transform: uppercase;
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-left: 35px;
  margin-right: 35px;
}

.footer-position {
  margin-top: 200px;
  margin-bottom: 25px;
}

.footer-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 45px;
}

.svg-position {
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */