.bck-img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-image: 
        url(../img/Image.png),
        url(../img/Shape_menu.png),
        url(../img/Shape_1.png),
        url(../img/Shape_2.svg),
        url(../img/Shape_3_big.svg);
    background-repeat: no-repeat;
    background-position: 
        right 850px top -160px,
        right -220px top -150px,
        right 300px top 370px,
        right 250px bottom 150px,
        right 670px top 100px;
    background-size:
        750px 1000px,
        450px 450px,
        800px 571px,
        75px 75px,
        35px 35px,
        50px 50px;
    z-index: -4;
}

.bck-vector{
    position: relative;
    display: block;
    top: 0px;
    right: 500px;
    width: 100%;
    height: 100%;
    z-index: -3;
}