:root {
  --main-font-family: "Poppins", sans-serif;
  --main-font-size: 14px;
  --big-font-size: 100px;
  --normal-font-weight: 400;
  --read-more-font-weight: 700;
  --bold-font-weight: 900;
  --main-color: #2372d5;
  --backdrop-color: rgba(0, 9, 40, 0.7);

}
